.calculator-container {
    margin-top: 50px;
}

#calculator {
    margin-bottom: 20px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px; 
    background-color: white;
    border: 1px solid black; 
}

.btn-light {
    border: 1px solid black;
}

#plus, #minus {
    margin-bottom: 20px;
}
